{% extends 'base.html' %}

{% block title %}Article Detail
{% endblock title %}

{% block body %}
  <h1>{{article.pk}}. {{ article.title }}</h1>  <a href="{% url 'articles:index' %}">[뒤로가기]</a>

  <p>작성일자 : {{ article.created_at }}</p>
  <hr>
  <p>내용</p> <br>
  <p>{{ article.content }}</p>

  <hr>
  <h4>댓글</h4>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="text", name='content'>
      <button type="submit">댓글달기</button>
    </form>

  <ul>
  {% for comment in comments %}
    <li>
      {{ comment.content }}<form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method='POST'>
        {% csrf_token %}
        <button type="submit">삭제하기</button>
      </form>
    </li>
    
  {% empty %}
    <p>아직 댓글이 없습니다.</p>
  {% endfor %}
  </ul>
  <hr>
    <a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
  {% comment %} <a href="{% url 'articles:delete' article.pk %}" onclick="return confirm('Are you sure?')">[삭제하기]</a> {% endcomment %}
    <form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('Are you sure?')">
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>
{% endblock body %}

