{% extends 'base.html' %}
{% comment %} 페이지에서 맨 상단, extends보다는 하단 {% endcomment %}
{% load static %}

{% block title %}
  index
{% endblock title %}

{% block body %}
  <h1>Articles</h1>

    <a href="{% url 'articles:create' %}">[작성하기]</a>
    <img src="{% static 'articles/images/gomi_cute.jpg' %}" alt="그림">
    <hr>
    {% for article in articles  %}
    <div>
      <a href="{% url 'articles:detail' article.pk %}"><h3>{{ article.pk }}. {{ article.title }}</h3></a>
      
      <p>{{ article.content }}</p>
    </div>
    <br>
    {% endfor %}

{% endblock body %}

